button:hover {
  text-decoration: underline;
  /* hover 時にアンダーラインを表示 */
  text-underline-offset: 5px;
  /* アンダーラインと文字の距離を設定 */
}

.dark .dark\:bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.pagefind-ui {
  font-family: 'Source Han Serif CN' !important;
}

.pagefind-ui__search-input {
  border-bottom-color: black !important;
  border-bottom-width: 1px !important;
  --pagefind-ui-border-width: 0px;
  --pagefind-ui-border-radius: 0px;
}