@font-face {
  font-family: "Linden Hill";
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/theleagueof/linden-hill/webfonts/LindenHill-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "Linden Hill";
  font-style: italic;
  src: url("https://cdn.jsdelivr.net/gh/theleagueof/linden-hill/webfonts/LindenHill-Italic-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  src: url("https://fonts.cdnfonts.com/s/21656/Jost400Book.woff") format("woff");
}
@font-face {
  font-family: 'Source Han Serif CN';
  src: local('Source Han Serif CN'), local('Source Han Serif SC'),
       local('Source Han Serif TC'), local('Source Han Serif TW'),
       local('Source Han Serif'), local('Noto Serif CJK SC'), local('Songti SC'), local('SimSong'),
       url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/SourceHanSerifCN-Regular-yihui.woff2') format('woff2');
}
@font-face {
  font-family: 'FandolKai';
  src: local('Kaiti'), local('Kaiti SC'), local('STKaiti'), local('楷体'), local('SimKai'), local('AR PL KaitiM GB'), local('DFKai-SB'), local('FandolKai'),
       url('https://cdn.jsdelivr.net/gh/yihui/cron/fonts/AR-PL-KaitiM-GB-yihui.woff2') format('woff2');
}
body {
  font-family: "Linden Hill", Palatino, "source-han-serif-sc",
    "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif TC",
    "Source Han Serif TW", "Source Han Serif", "Songti SC", "仿宋", "FangSong",
    "NSimSun", serif;
  letter-spacing: 1px;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
.menu,
.meta-line,
footer {
  font-family: Jost, Optima, Candara, "Source Han Serif CN", sans-serif;
}
