{% macro render(link_groups) %}
{% for g in link_groups %}
<div>
  <div class="mt-10 flex items-center gap-x-4">
    <div class="h-1 flex-auto bg-gray-700 dark:bg-white"></div>
    <h4 class="flex-none text-sm font-semibold leading-6">{{ g.group_name }}</h4>
    <div class="h-1 flex-auto bg-gray-700 dark:bg-white"></div>
  </div>
  <div class="flex justify-center divide-x divide-black mt-2">
    {% for item in g.links %}
    <div class="px-2 flex flex-col items-center justify-center h-2">
      <a class="font-bold text-gray-700 dark:text-white" href="{{item.url}}">
        {{item.label}}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endmacro %}